<div class="container">
    <header>
        <button mat-flat-button style="font-family:FSLola-Bold; font-size: larger;"><i class="material-icons">power_settings_new</i>Log out</button>
    </header>
    <main>
        <div id="slogan">
            <p class="slogan-text"><span style="font-family:FSLola-BoldItalic;">Hello. </span><span style="font-family:FSLola-LightItalic;">Here's everything you need to get connected.</span></p>
        </div>
        <div id="logo">
            <img src="../../../../../assets/logo.png" alt="">
        </div>
    </main>
</div>
